
body { 
		background-color: lightblue;
}

section {
		display: flex;
		flex-direction: column;
}

@font-face {
		font-family: HappyTimesAtTheIkob;
		src: url('alen97tarabar.github.io/Fonts/happy-times-at-the-ikob.woff') format('woff'),
			 url('alen97tarabar.github.io/Fonts/happy-times-at-the-ikob.tff') format('truetype');
}

@font-face {
		font-family: PhotographSignature;
		src: url('alen97tarabar.github.io/Fonts/Photograph Signature.ttf') format('truetype');
	
}
h1 {
		font-family: 'PhotographSignature';
		font-weight:normal;
		font-style:normal;
}

.image-head {
		height: 30%;
		width: 30%;
		object-fit:cover;
}