
.header {
	  padding: 60px;
	  text-align: center;
	  background: #6c757dd1;
	  color: white;
	  font-size: 30px;
}

body { 
		background-color: lightblue;
}

section {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: stretch;
}

img {
  max-width: 100%;
  height: auto;
}

.Resume {
		background-image:("Images/IMG_20181103_075731.jpg");
}

.Profile {
		background-image:("/Images/IMG_20181103_075731.jpg");
}

.Contact {
		background-image:(".../Images/IMG_20181103_075731.jpg");
}

/* #Contact {
		text-decoration: overline;
}


#background-img {
	background-image:("alen97tarabar.github.io/Images/IMG_20181103_075731.jpg");
	width: 500px;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
}

*/

.flex-parent {
    height: 400px;
    width: 100%;
    margin: auto;
    border: 2px solid #EEE;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.Profile {
	background-image: ("alen97tarabar.github.io/Images/IMG_20181103_075731.jpg");
	width: 100%;
	height: 100%;
}

@font-face {
		font-family: HappyTimesAtTheIkob;
		src: url('alen97tarabar.github.io/Fonts/happy-times-at-the-ikob.woff') format('woff'),
			 url('alen97tarabar.github.io/Fonts/happy-times-at-the-ikob.tff') format('truetype');
}

@font-face {
		font-family: PhotographSignature;
		src: url('alen97tarabar.github.io/Fonts/Photograph Signature.ttf') format('truetype');
	
}
h1 {
		font-family:PhotographSignature;
		src: url('alen97tarabar.github.io/Fonts/Photograph Signature.ttf') format('truetype');
		font-weight:normal;
		font-style:normal;
}

.image-head {
		height: 800px;
		width: 500px;
		padding: 10px;
}

.footer {
	  position: fixed;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  background-color: #4a4a4a;
	  color: white;
	  text-align: center;
}