
.header {
	  padding: 60px;
	  text-align: center;
	  background: rgba(0,0,0,0.5);
	  color: white;
	  font-size: 30px;
	  position: absolute;
	  width: 100%;
}

body { 
		background-color: lightblue;
}

section {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: stretch;
}

body, html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

a:link {
	color: white !important;
	font-size: 2.8rem !important;
	color: white !important;
	/* position: absolute !important; */
	margin: 10% 0% 0% 0% !important;
}

a:hover{
	color: yellow !important;
}

.Resume {
		background-image:url("Images/IMG_20181103_075731.jpg");
		background-size: cover;
		margin-top: 170%;
		width: 300px;
		height: 300px;
}

.Profile {
		background-image:url("Images/IMG_20181103_075731.jpg");
		background-size: cover;
		margin-top: 170%;
		width: 300px;
		height: 300px;
}

.Contact {
		background-image:url("Images/IMG_20181103_075731.jpg");
		background-size: cover;
		margin-top: 170%;
		width: 300px;
		height: 300px;
}

/* #Contact {
		text-decoration: overline;
}
*/

.bg {
	background-image:url("Images/bg-Lila.png");
	width: 100%;
	height: 1500px;
	background-repeat: no-repeat;
	background-size: cover;
	/* background-position: center; */
}



.flex-parent {
    height: 400px;
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@font-face {
		font-family: HappyTimesAtTheIkob;
		src: url('alen97tarabar.github.io/Fonts/happy-times-at-the-ikob.woff') format('woff'),
			 url('alen97tarabar.github.io/Fonts/happy-times-at-the-ikob.tff') format('truetype');
}

@font-face {
		font-family: PhotographSignature;
		src: url('alen97tarabar.github.io/Fonts/Photograph Signature.ttf') format('truetype');
	
}
h1 {
		font-family:PhotographSignature;
		src: url('alen97tarabar.github.io/Fonts/Photograph Signature.ttf') format('truetype');
		font-weight:normal;
		font-style:normal;
}

h2 {
		font-family: HappyTimesAtTheIkob;
		src: url('alen97tarabar.github.io/Fonts/happy-times-at-the-ikob.woff') format('woff'),
			 url('alen97tarabar.github.io/Fonts/happy-times-at-the-ikob.tff') format('truetype');
		font-weight:normal;
		font-style:normal;
}

.h2, h2 {
		font-size: 2.8rem !important;
		color: white !important;
		position: absolute !important; 
		margin: 7% 0% 0% -6% !important;
}

#section1 {
  height: 520px;
}

#section2 {
  height: 600px;
}

.image-head {
		height: 800px;
		width: 500px;
		padding: 10px;
}

.footer {
	  position: fixed;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  background-color: #4a4a4a;
	  color: white;
	  text-align: center;
}